Задание 1.1 

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [78]:
def function_1_1(my_list, n):
    i,x=0,0
    
    for element in my_list:
        if my_list[i] <= n:
            x=x+element
        i+=1    
    return x

In [79]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [80]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

In [81]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [82]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [83]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [84]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

Задание 1.2¶ 

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [449]:
#from itertools import group
def function_1_2(my_list, dept):
    sum_dept = 0
    res_list=list()
    
    for g in groupby( sorted(my_list,key=lambda x:x[0]) ,key=lambda x:x[0]): #сортируем и группируем список
        for i in g[1]: #перебираем суммы долга по каждой фамилии
            sum_dept += i[1] #суммируем
        if sum_dept >dept: #выходя из цикла проверяем что насуммировали. если больше чем второй аргумент функции
            res_list.append(i[0]) #то сохраняем имя должника в отдельный список
        sum_dept =0 #очищаем переменную
    return res_list #выводим результирующий список

In [450]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Ivanov', 'Petrov', 'Sidorov']

True

In [226]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

True

In [227]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

True

In [228]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

True

In [229]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

True

In [230]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

True

In [231]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

True

Задание 2.1¶ 

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

Подсказка: воспользуйтесь функцией reduce или циклами

In [245]:
def function_2_1(n):
    r=reduce(lambda x, y: x * y, range(1,n+1))#по очереди будут переумножаться элементы начиная с 1 до n+1
    return r

In [246]:
function_2_1(3) == 6

True

In [247]:
function_2_1(5) == 120

True

In [248]:
function_2_1(9) == 362880

True

In [249]:
function_2_1(13) == 6227020800

True

In [250]:
import math

for n in xrange(1, 21):
    print math.factorial(n) == function_2_1(n)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

Задание 2.2¶ 

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1<2,~3 > 2$, поэтому нужно вернуть ('Equal', 'First', 'Second')

In [302]:
def function_2_2(list1, list2):
    return ineq(float(sum(list1))/len(list1),float(sum(list2))/len(list2)),ineq(min(list1),min(list2)),ineq(max(list1),max(list2))
    # в результате функции вызываем другую функцию, которая определяет больше/меньше/равно
    # через запятую передаём данные по среднему арифметическому, мин. и макс. значению

def ineq(frs,scn):
    if frs>scn:
        sol= 'Second'
    elif frs<scn:
        sol= 'First'
    else:
        sol= 'Equal'
    return sol

In [303]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

True

In [304]:
function_2_2([2, 2, 1], [4]) ==('First', 'First', 'First')

True

In [305]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

True

In [306]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

True

In [307]:
function_2_2([1, 7], [2, 4, 7])== ('First', 'First', 'Equal')

True

Задание 3.1¶ 

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число $n$ и число $k$ и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных $n$ .

In [351]:
def function_3_1(my_list, n, k):
    b,i=[],0
    while i <len(my_list):#цикл для перебора списка длиной в кол-во элементов списка
        if my_list[i] <=n: #этим условием убираем те значения, которые нам больше не пригодятся в расчетах
            b.append(my_list[i])#то что подошло сохраняем в отдельный список
            del my_list[i]#и удаляем, иначе список никогда не закончится
        else:
            i+=1#а если нашли то, что нам не нужно, то пропускаем и идем дальше
     
    return sum(sorted(b)[-k:])#на выводе сортируем список на увеличение и берем сумму К-элементов с конца

In [352]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [353]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [354]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [355]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [356]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [357]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [358]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [359]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [360]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [361]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [362]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True





Задание 3.2 

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [506]:
def function_3_2(n):
    return [x for x in range(1,n+1) if [x%y for y in range (1,x+1)].count(0)==2]
    #запускаем перебор Х, диапазоном с 1 до n
    #при условии что среди диапазона чисел, от 1 до Х есть всего два случая, целочисленного деления

In [510]:
function_3_2(3) == [2, 3]

True

In [511]:
function_3_2(10) == [2, 3, 5, 7]

True

In [512]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

True